@model Country

@{
	ViewData["Title"] = "Yeni Müşteri Tip";
}
<div class="row">
	<div class="col-xxl-12">
		<div class="card card-xxl-stretch mb-5 mb-xl-8">
			<div class="card-header border-0 pt-5">
				<h3 class="card-title align-items-start flex-column">
					<span class="card-label fw-bolder fs-3 mb-1">Yeni Müşteri Tip</span>
				</h3>
			</div>
			<div class="card-body">
				<form asp-action="Create">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="mb-12">
						<label asp-for="Description" class="form-label"></label>
						<input asp-for="Description" class="form-control" />
						<span asp-validation-for="Description" class="text-danger"></span>
					</div>
					<a class="btn btn-secondary mr-2" asp-action="Index"><i class="fa fa-arrow-left"></i> Listeye Geri Dön</a>  <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Kaydet</button>
				</form>
			</div>
		</div>
	</div>
</div>